<h2>List of the latest tv series I saw</h2>

<ul>
  <li class="comedy">Friends</li>
  <li class="fantasy">Game of Thrones</li>
  <li class="historical">Vikings</li>
  <li class="historical">Peaky blinders</li>
  <li class="horror">American Horror Story</li>
</ul>
